<div class="container py-3">
    <h1>Tambah Contact</h1>
    <div class="row">
        <div class="col-md-6">
            <div id="flash-msg"></div>
            <% if (!val(value, 'nama')) { %>
            <form method="post" action="/contact">
            <% } else { %>
            <form method="post" action="/contact?_method=PUT">
                <input type="hidden" name="_id" value="<%= val(value, '_id') %>">
            <% } %>
                <input type="hidden" name="oldNama" value="<%= val(value, 'nama') %>">
                <div class="mb-3">
                    <label for="nama" class="form-label">Nama</label>
                    <input type="text" class="form-control <%= errCek(errors, 'nama') %>" id="nama" name="nama" value="<%= val(oldValue, 'nama') || val(value, 'nama') %>">
                    <div class="invalid-feedback">
                        <%= errMsg(errors, 'nama' ) %>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control <%= errCek(errors, 'email') %>" id="email" name="email" value="<%= val(oldValue, 'email') || val(value, 'email') %>">
                    <div class="invalid-feedback">
                        <%= errMsg(errors, 'email' ) %>
                    </div>
                </div>
                <a href="/contact" class="btn btn-outline-primary">Kembali</a>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>